1. Introduction:

This dataset contains historical stock market data for the Top 50 companies listed on the Pakistan Stock Exchange.

It includes daily OHLCV (Open, High, Low, Close, and Volume) data making it a valuable resource for financial analysis forecasting and time series modeling.

2. ASK:

*What are the purposes of this analysis:*
???

*And they will be achieved by answering these questions:*
???

3. PREPARE:
*Data observation:*
- License: MIT
This dataset is highly permissive but no wanrranties of its accuracy, errors, fitness for purposes. Which means the dataset should be used only in practicing.
- Validation Date: Last update was August 29, 2025.

Process preparation:**
Setup library and import dataset

In [36]:
# Import Library
import polars as pl

import os

# Import utils
from utils import check_duplicates, check_information, check_missing_values, display_duplicates

In [37]:
# Import data
df = pl.read_csv('pak_stock (1).csv')

In [38]:
display(df)

shape: (50_492, 10)
┌───────┬────────┬────────────┬────────┬───┬────────┬──────────┬───────┬──────┐
│       ┆ symbol ┆ date       ┆ open   ┆ … ┆ close  ┆ volume   ┆ month ┆ year │
│ ---   ┆ ---    ┆ ---        ┆ ---    ┆   ┆ ---    ┆ ---      ┆ ---   ┆ ---  │
│ i64   ┆ str    ┆ str        ┆ f64    ┆   ┆ f64    ┆ i64      ┆ str   ┆ i64  │
╞═══════╪════════╪════════════╪════════╪═══╪════════╪══════════╪═══════╪══════╡
│ 0     ┆ OGDC   ┆ 2021-01-01 ┆ 104.0  ┆ … ┆ 110.1  ┆ 12335845 ┆ Jan   ┆ 2021 │
│ 1     ┆ OGDC   ┆ 2021-01-04 ┆ 116.99 ┆ … ┆ 114.41 ┆ 10342925 ┆ Jan   ┆ 2021 │
│ 2     ┆ OGDC   ┆ 2021-01-05 ┆ 111.75 ┆ … ┆ 111.64 ┆ 3729224  ┆ Jan   ┆ 2021 │
│ 3     ┆ OGDC   ┆ 2021-01-06 ┆ 115.0  ┆ … ┆ 113.39 ┆ 6283154  ┆ Jan   ┆ 2021 │
│ 4     ┆ OGDC   ┆ 2021-01-07 ┆ 115.0  ┆ … ┆ 112.08 ┆ 4186488  ┆ Jan   ┆ 2021 │
│ …     ┆ …      ┆ …          ┆ …      ┆ … ┆ …      ┆ …        ┆ …     ┆ …    │
│ 50487 ┆ PMPK   ┆ 2025-08-26 ┆ 1300.0 ┆ … ┆ 1300.0 ┆ 4327     ┆ Aug   ┆ 2025 │
│ 50488 ┆ PMPK   ┆ 2025-08-26 ┆ 1300.0 ┆ … ┆ 1300.0 ┆ 4327     ┆ Aug   ┆ 2025 │
│ 50489 ┆ PMPK   ┆ 2025-08-26 ┆ 1300.0 ┆ … ┆ 1300.0 ┆ 4327     ┆ Aug   ┆ 2025 │
│ 50490 ┆ PMPK   ┆ 2025-08-26 ┆ 1300.0 ┆ … ┆ 1300.0 ┆ 4327     ┆ Aug   ┆ 2025 │
│ 50491 ┆ PMPK   ┆ 2025-08-26 ┆ 1300.0 ┆ … ┆ 1300.0 ┆ 4327     ┆ Aug   ┆ 2025 │
└───────┴────────┴────────────┴────────┴───┴────────┴──────────┴───────┴──────┘

In [39]:
print('Checking null cells\n -----------------------------------------')
display(df.null_count())
print('Checking dtypes\n -----------------------------------------')
display(df.dtypes)
print('Checking info of Dataframe \n -----------------------------------------')
display(df.describe())

Checking null cells
 -----------------------------------------

shape: (1, 10)
┌─────┬────────┬──────┬──────┬───┬───────┬────────┬───────┬──────┐
│     ┆ symbol ┆ date ┆ open ┆ … ┆ close ┆ volume ┆ month ┆ year │
│ --- ┆ ---    ┆ ---  ┆ ---  ┆   ┆ ---   ┆ ---    ┆ ---   ┆ ---  │
│ u32 ┆ u32    ┆ u32  ┆ u32  ┆   ┆ u32   ┆ u32    ┆ u32   ┆ u32  │
╞═════╪════════╪══════╪══════╪═══╪═══════╪════════╪═══════╪══════╡
│ 0   ┆ 0      ┆ 0    ┆ 0    ┆ … ┆ 0     ┆ 0      ┆ 0     ┆ 0    │
└─────┴────────┴──────┴──────┴───┴───────┴────────┴───────┴──────┘

Checking dtypes
 -----------------------------------------

[Int64,
 String,
 String,
 Float64,
 Float64,
 Float64,
 Float64,
 Int64,
 String,
 Int64]

Checking info of Dataframe
 -----------------------------------------

shape: (9, 11)
┌────────────┬────────────┬────────┬────────────┬───┬────────────┬────────────┬───────┬────────────┐
│ statistic  ┆            ┆ symbol ┆ date       ┆ … ┆ close      ┆ volume     ┆ month ┆ year       │
│ ---        ┆ ---        ┆ ---    ┆ ---        ┆   ┆ ---        ┆ ---        ┆ ---   ┆ ---        │
│ str        ┆ f64        ┆ str    ┆ str        ┆   ┆ f64        ┆ f64        ┆ str   ┆ f64        │
╞════════════╪════════════╪════════╪════════════╪═══╪════════════╪════════════╪═══════╪════════════╡
│ count      ┆ 50492.0    ┆ 50492  ┆ 50492      ┆ … ┆ 50492.0    ┆ 50492.0    ┆ 50492 ┆ 50492.0    │
│ null_count ┆ 0.0        ┆ 0      ┆ 0          ┆ … ┆ 0.0        ┆ 0.0        ┆ 0     ┆ 0.0        │
│ mean       ┆ 25245.5    ┆ null   ┆ null       ┆ … ┆ 859.005082 ┆ 1.7952e6   ┆ null  ┆ 2022.90562 │
│            ┆            ┆        ┆            ┆   ┆            ┆            ┆       ┆ 9          │
│ std        ┆ 14575.9292 ┆ null   ┆ null       ┆ … ┆ 2774.86996 ┆ 7.8762e6   ┆ null  ┆ 1.362307   │
│            ┆ 33         ┆        ┆            ┆   ┆ 5          ┆            ┆       ┆            │
│ min        ┆ 0.0        ┆ ABL    ┆ 2021-01-01 ┆ … ┆ 1.57       ┆ 0.0        ┆ Apr   ┆ 2021.0     │
│ 25%        ┆ 12623.0    ┆ null   ┆ null       ┆ … ┆ 62.74      ┆ 13625.0    ┆ null  ┆ 2022.0     │
│ 50%        ┆ 25246.0    ┆ null   ┆ null       ┆ … ┆ 135.02     ┆ 194478.0   ┆ null  ┆ 2023.0     │
│ 75%        ┆ 37868.0    ┆ null   ┆ null       ┆ … ┆ 488.23     ┆ 1.180813e6 ┆ null  ┆ 2024.0     │
│ max        ┆ 50491.0    ┆ UPFL   ┆ 2025-08-26 ┆ … ┆ 34139.55   ┆ 4.8111988e ┆ Sep   ┆ 2025.0     │
│            ┆            ┆        ┆            ┆   ┆            ┆ 8          ┆       ┆            │
└────────────┴────────────┴────────┴────────────┴───┴────────────┴────────────┴───────┴────────────┘

The dataset includes following values:
- **symbol** : Ticker symbol of the company (e.g., MARI, NESTLE, RMPL).

- **date** : Trading date (format: YYYY-MM-DD).

- **open** : Opening stock price on that day.

- **high** : Highest stock price during the trading session.

- **low** : Lowest stock price during the trading session.

- **close** : Closing stock price on that day.

- **volume** : Number of shares traded.

- **month** : Month extracted from the trading date

- **year** : Year extracted from the trading date.

To make it further in analysis, the weekday and week will be measured, and following this, checking unique value of each column.

In [40]:
df = df.with_columns(
    [
        pl.col('date').str.to_date().alias('date'),
        pl.col('date').str.to_date().dt.week().alias('week'),
        pl.col('date').str.to_date().dt.weekday().alias('weekday')
    ]
)

for col in df.columns:
    print(f'Column {col} with type ( {df[col].dtype} ) has unique values:\n {df.select(pl.col(col).unique())}')

Column  with type ( Int64 ) has unique values:
 shape: (50_492, 1)
┌───────┐
│       │
│ ---   │
│ i64   │
╞═══════╡
│ 0     │
│ 1     │
│ 2     │
│ 3     │
│ 4     │
│ …     │
│ 50487 │
│ 50488 │
│ 50489 │
│ 50490 │
│ 50491 │
└───────┘
Column symbol with type ( String ) has unique values:
 shape: (48, 1)
┌────────┐
│ symbol │
│ ---    │
│ str    │
╞════════╡
│ ISIL   │
│ PTC    │
│ HMB    │
│ FATIMA │
│ GLAXO  │
│ …      │
│ ABL    │
│ UBL    │
│ PAKT   │
│ HUBC   │
│ PPL    │
└────────┘
Column date with type ( Date ) has unique values:
 shape: (1_147, 1)
┌────────────┐
│ date       │
│ ---        │
│ date       │
╞════════════╡
│ 2021-01-01 │
│ 2021-01-04 │
│ 2021-01-05 │
│ 2021-01-06 │
│ 2021-01-07 │
│ …          │
│ 2025-08-20 │
│ 2025-08-21 │
│ 2025-08-22 │
│ 2025-08-25 │
│ 2025-08-26 │
└────────────┘
Column open with type ( Float64 ) has unique values:
 shape: (19_054, 1)
┌──────────┐
│ open     │
│ ---      │
│ f64      │
╞══════════╡
│ 0.0      │
│ 1.6      │
│ 1.63     │
│ 1.64     │
│ 1.65     │
│ …        │
│ 33500.0  │
│ 33995.0  │
│ 33999.99 │
│ 34448.0  │
│ 36961.47 │
└──────────┘
Column high with type ( Float64 ) has unique values:
 shape: (18_132, 1)
┌──────────┐
│ high     │
│ ---      │
│ f64      │
╞══════════╡
│ 0.0      │
│ 1.61     │
│ 1.63     │
│ 1.68     │
│ 1.7      │
│ …        │
│ 34083.0  │
│ 34448.0  │
│ 34500.0  │
│ 34999.0  │
│ 36971.47 │
└──────────┘
Column low with type ( Float64 ) has unique values:
 shape: (17_778, 1)
┌──────────┐
│ low      │
│ ---      │
│ f64      │
╞══════════╡
│ 0.0      │
│ 1.55     │
│ 1.56     │
│ 1.57     │
│ 1.6      │
│ …        │
│ 32803.06 │
│ 32875.0  │
│ 33000.0  │
│ 33004.0  │
│ 33100.0  │
└──────────┘
Column close with type ( Float64 ) has unique values:
 shape: (30_061, 1)
┌──────────┐
│ close    │
│ ---      │
│ f64      │
╞══════════╡
│ 1.57     │
│ 1.58     │
│ 1.59     │
│ 1.64     │
│ 1.68     │
│ …        │
│ 33413.8  │
│ 33497.96 │
│ 33512.13 │
│ 33610.43 │
│ 34139.55 │
└──────────┘
Column volume with type ( Int64 ) has unique values:
 shape: (35_569, 1)
┌───────────┐
│ volume    │
│ ---       │
│ i64       │
╞═══════════╡
│ 0         │
│ 1         │
│ 2         │
│ 3         │
│ 4         │
│ …         │
│ 341067706 │
│ 342535258 │
│ 385378290 │
│ 392747456 │
│ 481119880 │
└───────────┘
Column month with type ( String ) has unique values:
 shape: (12, 1)
┌───────┐
│ month │
│ ---   │
│ str   │
╞═══════╡
│ Jul   │
│ Feb   │
│ Jun   │
│ Mar   │
│ Apr   │
│ …     │
│ May   │
│ Dec   │
│ Nov   │
│ Aug   │
│ Oct   │
└───────┘
Column year with type ( Int64 ) has unique values:
 shape: (5, 1)
┌──────┐
│ year │
│ ---  │
│ i64  │
╞══════╡
│ 2021 │
│ 2022 │
│ 2023 │
│ 2024 │
│ 2025 │
└──────┘
Column week with type ( Int8 ) has unique values:
 shape: (53, 1)
┌──────┐
│ week │
│ ---  │
│ i8   │
╞══════╡
│ 1    │
│ 2    │
│ 3    │
│ 4    │
│ 5    │
│ …    │
│ 49   │
│ 50   │
│ 51   │
│ 52   │
│ 53   │
└──────┘
Column weekday with type ( Int8 ) has unique values:
 shape: (5, 1)
┌─────────┐
│ weekday │
│ ---     │
│ i8      │
╞═════════╡
│ 1       │
│ 2       │
│ 3       │
│ 4       │
│ 5       │
└─────────┘